body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.button-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    outline-style: solid;
    outline-color: black;
    text-decoration: none;
}
.button {
    padding: 10px 20px;
    border: none;
    background-color: darkblue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    text-align: center;
    text-rendering: inherit;
    text-decoration: none;
    vertical-align: middle;
}

.button-bar button:hover {
    background-color: skyblue;
}


.alsó p {
    margin: 0; 
    flex: 1; 
    text-align: center;
    padding: 10px 60px;
    border: none;
    background-color: darkblue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
.alsó {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 600px;
    outline-style: solid;
    outline-color: black; 

}
.szoveg{
font-size: 25px;
display: flex;
align-items: center;
}
.szoveg img{
    margin-right: 15px;
}
.szoveg2 img{
    margin: left 15px;
}
.szoveg2{
    font-size: 25px;
    display: flex;
    align-items: center;
}